/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
